/*STILOVI ZA STRANE O VISE INFORMACIJA */

#more-info {
	margin-top: 173px;
	background-color: #fff;
}


.bg-img {
	background-image: url("../img/nega-beba.jpg");
	background-size: cover;
	background-position: center top;
	height: 250px;
	margin-top: -47px;
}

.bg-img h2 {
	margin-top: 90px;
	color: #4ACCD1;
	text-shadow: 0 0 2px #fff;
	font-size: 50px;
}

.naslovi-color {
	color: #4ACCD1 !important;
	margin-bottom: 30px !important;
	/*font-size: 25px;*/
}

.info {
	padding-bottom: 50px;
	margin-top: 35px;
}

.info h3 {
	margin: 10px 0;
	padding-top: 5px;
}

.info h5 {
	margin-bottom: 10px;
	padding-top: 5px;
}

.info p {
	font-size: 18px;
	color: #666;
	line-height: 32px;
	margin-bottom: 20px;
}

.info ul {
	list-style: none;
	margin: 30px;
}

.info span {
	float: left;
	margin: 0 10px;
	color: #4ACCD1;
}

.list li span {
	padding-top: 10px;
}
.list li p {
	margin: 5px;
}

.beba-slika {
	margin: 30px auto;
}


@media screen and (max-width: 810px) {
	.bg-img {
		margin-top: -24px;
	}
}

@media screen and (max-width: 600px) {
	.info ul {
		padding-left: 0;	
		margin-left: 0;
	}
}

@media screen and (max-width: 470px) {
	.bg-img h2 {
		font-size: 40px !important;
	}

	.bg-img {
		margin-top: -24px;
	}

		.info h3 {
		font-size: 26px !important;
	}

	.info p {
		font-size: 16px !important;
	}

	
	.fa-2x {
		font-size: 20px;
	}
}

@media screen and (max-width: 414px) {
	.bg-img {
		height: 200px;
		margin-top: -24px;
	}							

	.bg-img h2 {
		padding-top: 0;
	}
}

@media screen and (max-width: 361px) {
		

	.bg-img h2 {
		font-size: 34px !important;
	}		
}




