/*STILOVI ZA STRANE O VISE INFORMACIJA */

#more-info {
	margin-top: 173px;
	background-color: #fff;
}


.bg-img {
	background-image: url("../img/patronazna-sestra.jpg");
	background-size: cover;
	background-position: right top;
	height: 250px;
	margin-top: -73px;
}

.bg-img h2 {
	padding-top: 90px;
	color: #4ACCD1;
	text-shadow: 0 0 2px #fff;
}

.naslovi-color {
	color: #4ACCD1 !important;
}

.info {
	padding-bottom: 50px;
	margin-top: 35px;
}

.info h3 {
	margin: 10px 0;
	padding-top: 5px;
}

.info h5 {
	margin-bottom: 10px;
	padding-top: 5px;
}

.info p {
	font-size: 18px;
	color: #666;
	line-height: 32px;
	margin-bottom: 20px;
}

.info ul {
	list-style: none;
	margin: 30px;
}

.info span {
	float: left;
	margin: 0 10px;
	color: blue;
}

.list li span {
	padding-top: 10px;
}
.list li p {
	margin: 5px;
}

	/*Sinisa - promena boje "kvacica"*/
.icon-success {
	color: #4ACCD1 !important;
}
	/*Sinisa - promena boje "kvacica"*/

@media (max-width: 1200px) {
	
	.bg-img-more {
		margin-top: -15px;
		background-position: 50% center;
	}
}

@media (max-width: 880px) {
	
	.bg-img-more {
		margin-top: -49px !important;
		background-position: 50% center;
	}
}

@media screen and (max-width: 991px) {
	.bg-img {
		background-position: right center;
		margin-top: -17px;
	}

	.bg-img h2 {
		padding-left: 40px;
	}

	.info ul {
		padding-left: 10px;
	}

}

@media screen and (max-width: 755px) {
	.bg-img {
		background-position: right center;
	}

	.bg-img h2 {
		padding-top: 140px;
	}

}

@media screen and (max-width: 600px) {
	.bg-img {
		background-position: right center;
	}

	.info ul {
		padding-left: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 470px) {
	.bg-img h2 {
		padding-top: 140px;
		font-size: 40px !important;
	}
	.bg-img {
		background-position: right center;
	}

	.info h3 {
		font-size: 26px !important;
	}

	.info p {
		font-size: 16px !important;
	}

@media screen and (max-width: 414px) {
	.bg-img {
		height: 200px;
		margin-top: 5px;
	}							

	.bg-img h2 {
		padding-top: 110px;
	}
}

@media screen and (max-width: 361px) {
	.bg-img {
		margin-top: 60px;
	}			
}



/*@media  (min-width: 870px) and (max-width: 990px) {
	
	.bg-img {
		margin-top: 1000px;
		background-position: 50% center;
	}
}*/